/*================google font==============*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,300&display=swap');


/* ==========common style=============*/
*{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Poppins', sans-serif;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 30px;
    margin-top: 10%;
    margin-bottom: 10%;
    box-sizing: border-box;
}
/*=============header style start============ */

/*=============== navigation style start =================== */
.navigation{
    display: flex;
    justify-content: space-evenly;
    align-items:center ;
    height: 80px;
}
.logo h1{
    font-size: 26px;

}
.menu ul li{
    display: inline-block;
}
.menu ul li a{
    text-decoration: none;
    font-size: 16px;
    padding: 5px 35px;
    color: rgb(34, 31, 31);
}
.fa-search{
    font-size: 25px;
    color: rgb(49, 38, 38);
}
.fa-shopping-cart{
    font-size: 30px;
    color: rgb(39, 31, 31);
}

/*============= banner section style start =========== */
.banner{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.left{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.left h1{
    font-size: 50px;
}  
.left p{
    line-height: 1.5;
    padding: 20px 0px;
}

.btn a{
    text-decoration: none;
    font-size: 25px;
    background-image: linear-gradient(#E02C6D,#910a3b);
    border-radius: 5px;
    color: #fff;
    display: inline;
    padding: 5px 10px;

}
.fa-arrow-right{
    padding: 0 15px;
}
.right{
    display: flex;
    justify-content: center;
}
.right img{
    width:80%;
    background-color: #dfe6e9;
    border-radius: 5px;
    
}

/*================== banner section style end ======================= */

/*=============== brand logo style start ============== */
.all-brand{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    padding: 30px 0px;

}
/*=============== brand logo style end ===================== */



/*=========================
 popular Collcetion style start 
 ===================== */
 .popular-title{
     font-size: 28px;
     text-align: center;
     padding: 30px 0px;
 }
 .popular-items{
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     grid-row-gap:30px;
     grid-column-gap:85px;
     
 }
 .item{
     background-color:#dfe6e9;
     padding: 15px 20px;
     border-radius: 10px;
 }
 .title{
     font-size: 28px;
     font-weight: 300px;
 }
 .amount{
     font-size: 24px;
     font-weight: 400;
 }
 .reting{
     color: #FB8200;
 }
 .reting p{
    line-height: 1.5;
 }
 .see-more{
     color: #E02C6D;
     font-size: 16px;
     text-align: right;
     padding: 50px 0px;
 }
 /*================ 
 popular collceton style end
  ============== */




/*====================
 coustomer review style start
 =============== */
 .section-title{
     text-align: center;
     font-size: 50px;
     padding-bottom: 10%;
 }
.customer-review{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap:50px
}
.customer img{
    width: 30%;
}
.customer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.review-reating{
    color: #FB8200 ;
    padding: 10px 0;
}
.customer p{
    text-align: justify;
    padding: 10px 0px;
}
.customer h2{
    font-size: 24px;
}
/*=============
 footer style start
  ============= */
.end{
      background-color: #0A0826;
 }
.information{
    text-align: center;
    padding: 50px 0px;
}
.title-footer{
    font-size: 24px;
    color: #fff;
}
.information h3{
    color: #fff;
    font-size: 14px;
}
.information p{
    color: #fff;
    font-size: 14px;
}
.icon{
    margin-top: 10px;
}
.fa-instagram{
    background-color:#636e72;
    height: 30px;
    width: 30px;
    color: #fff;
    font-size: 20px;
    border-radius: 50px;
    padding-top: 8px;
}
.fa-globe{
    background-color:#636e72;
    height: 30px;
    width: 30px;
    color: #fff;
    font-size: 20px;
    border-radius: 50px;
    padding-top: 8px;
    margin: 0 5px;
}

.fa-twitter{
    background-color:#636e72;
    height: 30px;
    width: 30px;
    color: #fff;
    font-size: 20px;
    border-radius: 50px;
    padding-top: 8px;

}
.fa-youtube{
    background-color:#636e72;
    height: 30px;
    width: 30px;
    color: #fff;
    font-size: 20px;
    border-radius: 50px;
    padding-top: 8px;
    margin: 0 5px;

}
 @media only screen and  (max-width: 950px){
     .popular-items{
         grid-template-columns: repeat(2, 1fr);
     }
     .section-title{
         font-size: 40px;
     }
 }
 @media only screen and  (max-width: 800px){
    .popular-items{
        grid-template-columns: repeat(1, 1fr);
    }
    .section-title{
        font-size: 26px;
    }
    .item{
        text-align: center;
        border-radius: 20px;
        width: 536px;
    }
 }
 @media only screen and  (max-width: 650px){
    .banner{
        grid-template-columns: 1fr;
        grid-column-gap:20px;
        
    }
    .left{
        order: 2;
        align-items: center;
    }
    .left h1{
        font-size: 30px;
        padding: 10px 0px;
    }
    .left p{
        font-size: 15px;
    }
    .container{
        width: 90%;
        margin: 0px;
    }
    .information p{
        font-size: 8px;
    }
    .section-title{
        font-size: 18px;
    }
    
 }