/*================google font==============*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,300&display=swap');
/* ==========common style=============*/
*{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Poppins', sans-serif;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 30px;
}
/*=============header style start============ */
.banner{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.left{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.left h1{
    font-size: 50px;
}
.left p{
    line-height: 1.5;
    padding: 20px 0px;
}

.btn a{
    text-decoration: none;
    font-size: 25px;
    background-image: linear-gradient(#E02C6D,#910a3b);
    border-radius: 5px;
    color: #fff;
    display: inline;
    padding: 5px 10px;

}
.fa-arrow-right{
    padding: 0 15px;
}
.right{
    display: flex;
    justify-content: center;
}
.right img{
    width:80%;
}
/*=========================
 popular Collcetion style start 
 ===================== */
 .popular-items{
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     grid-row-gap:30px;
     grid-column-gap:85px;
     
 }
 .item{
     background-color:#dfe6e9;
     padding: 15px 20px;
     border-radius: 10px;
 }
 .title{
     font-size: 28px;
     font-weight: 300px;
 }
 .amount{
     font-size: 24px;
     font-weight: 400;
 }
 .reting{
     color: #FB8200;
 }
 .reting p{
    line-height: 1.5;
 }